$primary-color: #E4B548;
$secondary-color: #031B5B;
$tertiary-color: #EEEEEE;
$body-primary-color: #031B5B;
$body-secondary-color: #1C3474;
$body-tertiary-color: #EEEEEE;
$text-primary-color: #EEEEEE;
$text-secondary-color: #031B5B;
$text-tertiary-color: #E4B548;